@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    
}


.navbar{
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.navbar-brand{
    font-weight: 500;
    color:darkcyan;
    font-size: 24px;
    transition: 0.3s co;
}
  

.tienda-bottom{
    background-color:rgb(255, 103, 217) ;
    color: aliceblue;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;

}
.tienda-bottom:hover{
    background-color:dodgerblue;
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #0b0b0c;
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link.active{
    color: #000;
}
@media (min-width: 991px){
    .nav-link::before{
        content: "" ;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color:rgb(255, 79, 232);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover:before, .nav-link.active::before{
        width: 100%;
        visibility: visible;

    }
}

.hero-section{
    background-image:url('../img/caritas.webp');
    clip-path: circle(68.0% at 50% 25%);
    z-index: -1;
    background-size: cover;
    width: 100%;
    
}
.hero-section:before{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.hero-section .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}
.precio{
    text-align: center;
}
.precio_table{

    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;

}

.precio_element{
    background-color: #fdff85;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;

    

}

.about__main{
    padding-top:80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    /**Se crea una grid para los articulos ordenados......DATOS*/
    

}
.about__mainp{
    padding-top:70px;
    display: grid;
    width: 70%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    /**Se crea una grid para los articulos ordenados......DATOS*/
    padding: 3px 5px;
    border: seagreen 5px solid;
    border-radius: 20px;
    

}


.about__paragraph{
    line-height: 1.7;
}
.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center ;
    width: 260px;
    overflow: hidden;
    margin: auto;
}
.about__icon{
    width: 300px;
    position:relative;
    
}

.slider-container{
    width: 100%;
    height: 100vh;
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    
    
  }
  .slider-images{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .slider-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
  .slider-img{
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
  }
  .slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
    height: 200px;
  }
  .slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
    height: 300px;
  }
  .slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
    height: 400px;
  }
  .letr{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(270deg);
    transition: 0.7s ease;
  }
  .details{
    position: absolute;
    bottom: 43px;
    left: 43px;
  }
  .details h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
  }
  .details p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 33px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    transition: 0.5s ease;
    display: none;
  }
  .slider-img.active{
    width: 500px !important;
    height: 500px !important;
  }
  .slider-img.active h1{
     display: none;
  }
  .slider-img.active .details p, .slider-img.active .details h2{
    display: block;
  }



































  .footer {
    position: relative;
    width: 100%;
    background: #cf76ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
  }
  
  .icon-elem {
    list-style: none;
  }
  
  .icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
  }
  
  .icon:hover {
    transform: translateY(-10px);
  }
  
  .menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .menu-icon:hover {
    opacity: 1;
  }
  
  .text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }








