<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <title>Herramientas</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <img src="../img/info.png" width="50px" height="50px" alt="">
      <a class="navbar-brand me-auto" href="#">Emotions</a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link mx-lg-2 active" aria-current="page" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="./info.html">Informacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="./prueba.html">Pruebas</a>
            </li>
           
          </ul>
        </div>
      </div>
      <a href="#" class="tienda-bottom ">Login</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

 <main>
  <section class="hero-section">
    <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
      <h1>"Lo más Importante eres tú"</h1>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-">
        <h1 class="mt-4 text-center" data-aos="zoom-in"><b>Emottions</b></h1>
        <hr />
        <center><img src="../img/control-emociones.webp" data-aos="zoom-in" height="750px" width="750px" alt=""></center>
        <h2>El autocontrol emocional es la capacidad que nos permite gestionar de manera correcta nuestras emociones y no permite que sean éstas, las que nos dirijan a nosotros. De lo que se trata es que todas las emociones, tanto las positivas como las negativas, se experimenten y se expresen de forma adecuada.</h2>
        <h6 data-aos="zoom-in" class="">
          El autocontrol emocional es un componente primordial en la inteligencia emocional. Es importante resaltar que cuando nos referimos al autocontrol, no hablamos sólo de dominar y controlar nuestras emociones,
           sino de manifestarlas o inhibirlas de una forma correcta.
        </h6>
        <div data-aos="zoom-in" class="d-grid gap-2 col-6 mx-auto mt-3">
            <button class="btn ColorDeBoton border-0 rounded-pill" type="button">
                Información Relevante
            </button>
        </div>
    </div>
    </div>
  </div>


  <section class="container about">
    <center><h2>Nuestras emociones</h2></center>
    <h2 class="about__paragraph" data-aos="zoom-in"> Las emociones son la manera natural en la que los seres humanos reaccionamos a lo que ocurre a nuestro alrededor. Todos y todas tenemos emociones, es importante no reprimirlas ni sentirnos avergonzados y avergonzadas por ellas. Es importante recordar esto dentro de nuestras familias. ¡Son nuestro superpoder de humanos! </h2>
        
</section>

<section class="slider-container" data-aos="zoom-in">
            
  <div class="slider-images">
      <div class="slider-img">
          <img src="../img/smiley.png" alt="1" />
          <h1 class="letr">Alegria</h1>
          <div class="details">
              <h2>ES:</h2>
              <p>assssssssssssssssssss</p>
          </div>
      </div>
      <div class="slider-img">
          <img src="../img/tite.png" alt="2" />
          <h1 class="letr">Tristeza</h1>
          <div class="details">
              <h2>Es:</h2>
              <p>ssssssssssssssssssss</p>
          </div>
      </div>
      <div class="slider-img">
          <img src="../img/enojo.png" alt="3" />
          <h1 class="letr">Enojo</h1>
          <div class="details">
              <h2>es:</h2>
              <p>sssssssssssssss</p>
          </div>
      </div>
      <div class="slider-img active">
          <img src="../img/mie.png" alt="4" />
          <h1 class="letr">mIEDO</h1>
          <div class="details">
              <h2>Miedo</h2>
              <p>ssssssssssssssssssss/p>
          </div>
      </div>
      <div class="slider-img">
          <img src="../img/sor.png" alt="5" />
          <h1 class="letr">sORPRESA</h1>
          <div class="details">
              <h2>Es:</h2>
              <p>php Developer</p>
          </div>
      </div>
      <div class="slider-img">
          <img src="../img/amor.png" alt="6" />
          <h1 class="letr">aMOR</h1>
          <div class="details">
              <h2>SSSSSSS</h2>
              <p>SSSSSSSSSSS</p>
          </div>
      </div>
      <div class="slider-img">
          <img src="../img/ver.png" alt="7" />
          <h1 class="letr">Verguenza</h1>
          <div class="details">
              <h2>sssssssssssss</h2>
              <p>ssssssss</p>
          </div>
      </div>
  </div>
</section>

 </main>

 <footer class="footer">
  <ul class="social-icon">
    <li class="icon-elem">
      <a href="" class="icon">
        <ion-icon name="logo-youtube"></ion-icon>
      </a>
    </li>
    <li class="icon-elem">
      <a href="" class="icon">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
    </li>
    <li class="icon-elem">
      <a href="" class="icon">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </a>
    </li>
    <li class="icon-elem">
      <a href="" class="icon">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
    </li>
    <li class="icon-elem">
      <a href="" class="icon">
        <ion-icon name="mail-outline"></ion-icon>
      </a>
    </li>
  </ul>
  <ul class="menu">
    <li class="menu-elem">
      <a href="" class="menu-icon"> Inicio </a>
    </li>
    <li class="menu-elem">
      <a href="" class="menu-icon"> Informacion </a>
    </li>
    <li class="menu-elem">
      <a href="" class="menu-icon"> Contacto </a>
    </li>
    
  </ul>
  <p class="text">@TECNM| Todos los derechos reservados</p>
</footer>




 <script src="../js/jQuery.js"></script>
 <script>
   jQuery(document).ready(function ($) {
     $(".slider-img").on("click", function () {
       $(".slider-img").removeClass("active");
       $(this).addClass("active");
     });
   });
 </script>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script> AOS.init();</script>
  <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


 